Package: iscsi-scst
Source: scst
Version: 3.3.0
Architecture: amd64
Maintainer: Gilbert Standen <gilstanden@hotmail.com>
Installed-Size: 167
Depends: libc6 (>= 2.14)
Section: net
Priority: extra
Homepage: http://scst.sourceforge.net
Description: ISCSI userland for SCST
