Package: scst-fileio-tgt
Source: scst
Version: 3.3.0
Architecture: amd64
Maintainer: Gilbert Standen <gilstanden@hotmail.com>
Installed-Size: 84
Depends: scstadmin, libc6 (>= 2.14)
Section: net
Priority: extra
Homepage: http://scst.sourceforge.net
Description: SCST fileio userland target
