Package: scst-dkms
Source: scst
Version: 3.3.0
Architecture: amd64
Maintainer: Gilbert Standen <gilstanden@hotmail.com>
Installed-Size: 5810
Depends: dkms
Section: net
Priority: extra
Homepage: http://scst.sourceforge.net
Description: kernel module (dkms version) for SCST
