Package: scstadmin
Source: scst
Version: 3.3.0
Architecture: amd64
Maintainer: Gilbert Standen <gilstanden@hotmail.com>
Installed-Size: 326
Depends: iscsi-scst
Section: net
Priority: extra
Homepage: http://scst.sourceforge.net
Description: Admin tool for SCST
